{% extends 'base.html' %}

{% block content %}
    <h1>Все посты 🌟</h1>
    {% if posts %}
        {% for post in posts %}
            <div class="post">
                <div class="date">
                    📅 {{ post.created_date }}
                </div>
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <p>{{ post.description|linebreaksbr }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Постов пока нет. Напишите что-нибудь удивительное! 🌸</p>
    {% endif %}
{% endblock %}